@import url("https://fonts.googleapis.com/css2?family=Andika+New+Basic:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  color: black;
}

body {
  min-height: 100vh;
  background-color: #8a2be2 !important;
}

/* section {
  margin-top: 10rem;
  padding: 10px;
} */

.container {
  background-color: white;
  width: auto !important;
  height: auto;
  padding: 30px;
  border-radius: 50px 3px 50px 3px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.529);
}

#bg {
  border-radius: 50px;
  padding: 15px;
}

h1 {
  font: normal 15pt "Pacifico", cursive !important;
  text-align: center;
}

hr {
  background: #625f64;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1px;
}

.btn-success {
  width: 100%;
}

.center {
  width: 100%;
  height: auto;
  border-radius: 50px;
}

input {
  border-radius: 15px;
}

@media (min-width: 576px) {
  .center {
    width: 20vw;
  }
}

@media (min-width: 768px) {
  .center {
    width: 60vw;
  }
}

@media (min-width: 992px) {
  .center {
    width: 60vw;
  }
}

@media (min-width: 1200px) {
  .center {
    width: 30vw;
  }
}

@media (min-width: 1400px) {
  .center {
    width: 30vw;
  }
}

footer {
  background-color: black;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  padding: 10px 30px;
  color: white;
  text-align: center;
}
